.avatar {
    margin: 1px !important; 
    background-color:#df0100  !important;
    margin-left: 43%!important;
  }
  .alinletra {
    margin-left: 41%!important;  
  }
  .font {
    font-size: 18px !important;
  }
  .mgtop {
    margin-top: 10%;
  }