a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.btnuser{
    color: white !important;
    border: 1px solid #f8f9fa !important;
}
.brand{
  margin-top:9px !important;
}
.btnmenu{
  color:white !important;
  margin-left: 5px;
}
.sidelist{
  width: 230px !important;
}
.corcinza{
  background-color: grey !important;
}
.btndireita{
  position: absolute !important;
    left: 80%;
}
