/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alnD {
text-align: right;
}
button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}
.espera {
  z-index: +1 !important;
  color:#fff
}
body{
  background-color: rgb(238, 238, 238);
}
.cemporcento{
  height: 100% !important;
}